flask
openai
langchain
python-dotenv
sqlalchemy
flask_login
flask_sqlalchemy
numpy
pandas
lxml
bs4
psycopg2-binary
ipython
jupyter
langchain-community
langchain
langchain-core 
langgraph
langchain_openai
pycurl